<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @customer_portal.company_name %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @customer_portal.company_phone %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @customer_portal.company_email %>
</p>

<p>
  <strong>Company fax:</strong>
  <%= @customer_portal.company_fax %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @customer_portal.company_website %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer_portal.user %>
</p>

<p>
  <strong>Suppliers:</strong>
  <%= @customer_portal.suppliers %>
</p>

<p>
  <strong>Stock parts:</strong>
  <%= @customer_portal.stock_parts %>
</p>

<p>
  <strong>Stock chits:</strong>
  <%= @customer_portal.stock_chits %>
</p>

<%= link_to 'Edit', edit_customer_portal_path(@customer_portal) %> |
<%= link_to 'Back', customer_portals_path %>
