<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Part number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category code</th>
      <th>Supplier cost</th>
      <th>Minimum qty</th>
      <th>Maximum qty</th>
      <th>Restock to level</th>
      <th>Stock links</th>
      <th>Contract price</th>
      <th>User history</th>
      <th>Notes</th>
      <th>Customer portal</th>
      <th>Chits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.part_number %></td>
        <td><%= stock.name %></td>
        <td><%= stock.description %></td>
        <td><%= stock.category_code %></td>
        <td><%= stock.supplier_cost %></td>
        <td><%= stock.minimum_qty %></td>
        <td><%= stock.maximum_qty %></td>
        <td><%= stock.restock_to_level %></td>
        <td><%= stock.stock_links %></td>
        <td><%= stock.contract_price %></td>
        <td><%= stock.user_history %></td>
        <td><%= stock.notes %></td>
        <td><%= stock.customer_portal %></td>
        <td><%= stock.chits %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
