<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @stock.part_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock.description %>
</p>

<p>
  <strong>Category code:</strong>
  <%= @stock.category_code %>
</p>

<p>
  <strong>Supplier cost:</strong>
  <%= @stock.supplier_cost %>
</p>

<p>
  <strong>Minimum qty:</strong>
  <%= @stock.minimum_qty %>
</p>

<p>
  <strong>Maximum qty:</strong>
  <%= @stock.maximum_qty %>
</p>

<p>
  <strong>Restock to level:</strong>
  <%= @stock.restock_to_level %>
</p>

<p>
  <strong>Stock links:</strong>
  <%= @stock.stock_links %>
</p>

<p>
  <strong>Contract price:</strong>
  <%= @stock.contract_price %>
</p>

<p>
  <strong>User history:</strong>
  <%= @stock.user_history %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @stock.notes %>
</p>

<p>
  <strong>Customer portal:</strong>
  <%= @stock.customer_portal %>
</p>

<p>
  <strong>Chits:</strong>
  <%= @stock.chits %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
