
<%= simple_form_for(@chit) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.input :type_code %>
    <%= f.input :product_cost %>
    <%= f.input :description %>
    <%= f.input :notes %>
    <%#= f.input :history %>
  <%#= f.association :stock %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
