<%= form_with(model: supplier_part, local: true) do |form| %>
  <% if supplier_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier_part.errors.count, "error") %> prohibited this supplier_part from being saved:</h2>

      <ul>
      <% supplier_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_number %>
    <%= form.text_field :part_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :category_code %>
    <%= form.text_field :category_code %>
  </div>

  <div class="field">
    <%= form.label :supplier_cost %>
    <%= form.text_field :supplier_cost %>
  </div>

  <div class="field">
    <%= form.label :history %>
    <%= form.text_area :history %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.text_field :supplier_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
